:root {
    --myWhite: #fff;
    --myRed: #fc1703;
    --myBlue: #0384fc;
    --myGray: #303841;
}
  
* {
    margin: 0;
    padding: 0;
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}
  
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}


body {
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.4;
    color: ;
  }
  
  h1,
  h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: var(--myWhite);
}
  
.nav {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--myBlue);
    z-index: 2;
    width: 100%;
  
    display: flex;
    justify-content: flex-end;
}
  
.nav .nav-list {
    display: flex;
    margin-right: 2rem;
}