@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(45deg, purple, rgb(40, 70, 250));
  font-family: "Fredoka", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.4;
  color: #f3f3f3;
  margin: 0;
}