/* global element styling */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #eee;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
}

#page-wrapper {
  position: relative;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 7.5rem;
  padding: 0 2rem;
  background-color: darkorange;
  color: #000;
  width: 100%;
  top: 0;
  height: 6rem;
  box-shadow: .2rem -.1rem .8rem rgba(0,0,0,.4);
}

@media (max-width: 900px) {
  header {
    flex-wrap: wrap;
  }
  #nav-bar {
    flex-direction: row;
    
  }
}

header div.logo {
  width: 60vw;
}

div.logo img {
  width: 100%;
  height: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
}

header nav#nav-bar {
  width: 40vw;
}

header nav#nav-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 14rem auto /*add bottom*/;
}

form {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  flex-direction: column;
}

input{
  font-family: 'Fredoka', sans-serif;
}

input[type="email"] {
  height: 4.5rem;
  max-width: 30rem;
  width: 100%;
  margin: 2rem auto;
  border-radius: .7rem;
  padding: 1.5rem;
  border-color: black;
  font-size: 2rem;
}

input[type="submit"] {
  height: 2rem;
  width: 100%;
  max-width: 10rem;
  font-size: 1.7rem;
  height: 4rem;
  background: darkorange;
  border: 2px solid black;
  border-radius: .7rem;
  font-weight: 500;
}

input[type="submit"]:hover {
  transform: scale(1.2);
}